<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.qnx.ide.bbt.ui.preferences.BlackBerryTabletOSPreferences"
            class="com.bb.extensions.plugin.unittests.internal.preferences.UnitTestsPreferencePage"
            id="com.bb.extensions.plugin.unittests.internal.preferences.UnitTestsPreferencePage"
            name="%extensions.unittests.label.unitTesting">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bb.extensions.plugin.unittests.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="com.bb.extensions.plugin.unittests.menus.unittests"
               label="%extensions.unittests.label.unitTests">
            <command
                  commandId="com.bb.extensions.plugin.unittests.commands.installUnitTests"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <and>
                           <adapt
                                 type="org.eclipse.core.resources.IProject">
                           </adapt>
                           <or>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.qnx.tools.ide.bbt.core.bbtnature">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.cdt.core.cnature">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.cdt.core.ccnature">
                              </test>
                           </or>
                        </and>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bb.extensions.plugin.unittests.commands.uninstallUnitTests"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <and>
                           <adapt
                                 type="org.eclipse.core.resources.IProject">
                           </adapt>
                           <or>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.qnx.tools.ide.bbt.core.bbtnature">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.cdt.core.cnature">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.cdt.core.ccnature">
                              </test>
                           </or>
                        </and>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bb.extensions.plugin.unittests.commands.installUnitTests"
            name="%extensions.unittests.label.installUnitTests">
      </command>
      <command
            id="com.bb.extensions.plugin.unittests.commands.uninstallUnitTests"
            name="%extensions.unittests.label.uninstallUnitTests">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bb.extensions.plugin.unittests.internal.handlers.InstallUnitTestsHandler"
            commandId="com.bb.extensions.plugin.unittests.commands.installUnitTests">
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.projectNature"
                              value="com.bb.extensions.plugin.unittests.unittests">
                        </test>
                     </not>
                  </and>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="com.bb.extensions.plugin.unittests.internal.handlers.UninstallUnitTestsHandler"
            commandId="com.bb.extensions.plugin.unittests.commands.uninstallUnitTests">
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.projectNature"
                           value="com.bb.extensions.plugin.unittests.unittests">
                     </test>
                  </and>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.bb.extensions.plugin.unittests.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         id="unittests"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.bb.extensions.plugin.unittests.internal.natures.UnitTests">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            appearsBefore="org.eclipse.cdt.ui.navigator.content"
            contentProvider="com.bb.extensions.plugin.unittests.internal.navigator.UnitTestsContentProvider"
            id="com.bb.extensions.plugin.unittests.content.unittests"
            labelProvider="com.bb.extensions.plugin.unittests.internal.navigator.UnitTestsLabelProvider"
            name="%extensions.unittests.label.unitTests2">
         <enablement>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="com.bb.extensions.plugin.unittests.unittests">
               </test>
            </and>
         </enablement>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.bb.extensions.plugin.unittests.internal.navigator.IUnitTestsNavigatorElement">
               </instanceof>
            </or></possibleChildren>
         <actionProvider
               class="com.bb.extensions.plugin.unittests.internal.actions.TestFileActionProvider">
            <enablement>
               <or>
                  <instanceof
                        value="com.bb.extensions.plugin.unittests.internal.navigator.TestFileUnitTestsNavigatorElement">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="com.bb.extensions.plugin.unittests.internal.actions.SupportFileActionProvider">
            <enablement>
               <or>
                  <instanceof
                        value="com.bb.extensions.plugin.unittests.internal.navigator.SupportFilesUnitTestsNavigatorElement">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="com.bb.extensions.plugin.unittests.internal.actions.TestsActionProvider">
            <enablement>
               <or>
                  <instanceof
                        value="com.bb.extensions.plugin.unittests.internal.navigator.TestsUnitTestsNavigatorElement">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="com.bb.extensions.plugin.unittests.internal.actions.CodeCoverageActionProvider">
            <enablement>
               <or>
                  <instanceof
                        value="com.bb.extensions.plugin.unittests.internal.navigator.CodeCoverageUnitTestsNavigatorElement">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <commonSorter
               class="com.bb.extensions.plugin.unittests.internal.navigator.ViewerSorter">
            <parentExpression>
               <instanceof
                     value="com.bb.extensions.plugin.unittests.internal.navigator.IUnitTestsNavigatorElement">
               </instanceof>
            </parentExpression>
         </commonSorter>
         <actionProvider
               class="com.bb.extensions.plugin.unittests.internal.actions.MocksActionProvider"
               id="com.bb.extensions.plugin.unittests.internal.actions.mocksactionprovider">
            <enablement>
               <or>
                  <instanceof
                        value="com.bb.extensions.plugin.unittests.internal.navigator.MocksUnitTestsNavigatorElement">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            id="com.bb.extensions.plugin.unittests.frameworkFilter"
            name="%extensions.unittests.label.testFrameworkFilter">
         <filterExpression>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <test
                        property="com.bb.extensions.plugin.unittests.isTestFramework">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.cdt.core.model.ISourceRoot">
                  <test
                        property="com.bb.extensions.plugin.unittests.isTestFramework">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="com.bb.extensions.plugin.unittests.utframework">
                  </test>
               </adapt>
            </or>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.bb.extensions.plugin.unittests.internal.propertyTesters.PropertyTester"
            id="com.bb.extensions.plugin.unittests.propertyTester"
            namespace="com.bb.extensions.plugin.unittests"
            properties="isTestFramework"
            type="java.lang.Object">
      </propertyTester>
   </extension>
      <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.bb.extensions.plugin.unittests.internal.navigator.decorators.MocksUpdateDecorator"
            id="com.bb.extensions.plugin.unittests.internal.navigator.decorators.mocksupdatedecorator"
            label="Mock Update Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="com.bb.extensions.plugin.unittests.internal.navigator.MocksUnitTestsNavigatorElement">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
      <extension
            point="com.bb.extensions.plugin.unittests.resourceschangelistener.resourcechangelistener">
         <ResourceChangeListener
               Class="com.bb.extensions.plugin.unittests.internal.project.ProjectDeleteListener"
               Kind="Project Delete">
            <enablement>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        forcePluginActivation="false"
                        property="org.eclipse.core.resources.projectNature"
                        value="com.qnx.tools.ide.bbt.core.bbtnature">
                  </test>
               </and>
            </enablement>
         </ResourceChangeListener>
      </extension>
</plugin>
